<IfModule mod_rewrite.c>
    RewriteEngine On

    # Route root request to public/index.php
    RewriteRule ^$ public/index.php [L]

    # Forward all non-existing files/directories to public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . public/index.php [L]
</IfModule>
